/**
 *  File Name: DLglobal.js
 *  Purpose: hold global methods and handlers
 *
 *  Revision History: 2/28/2020 Dylan lacelle created
 */

label.error{
    color:#F00;
    font-weight: bold;
}
input.error, select.error, textarea.error {
    border: 1px red solid;
}